* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr / 1fr 5fr;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

.sidebar {
    background-color: rgb(14, 172, 250);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: #F7F9F9;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    padding: 20px;
}

.sidebar div {
    padding: 7px;
}

.logo p{
    display: inline-block;
}

.groupOne p {
    display: inline-block;
}

.groupTwo p {
    display: inline-block;
}


.header {
    background-color: #F7F9F9;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    z-index: 10;
    box-shadow: 1px 3px 10px #ABABAB;

}

.workspace {
    background-color: #DDDEDF;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    padding: 30px 25px 30px 15px;
    overflow-y: scroll;
}


.project {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.project p {
    padding: 8px;
}

.deck {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 10px;
}

.card {
    border-style: solid;
    border-width: 5px;
    border-color: coral;
    background-color: #F7F9F9;
    border-radius: 10px;
    border-right: white;
    border-top: white;
    border-bottom: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcements {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 15fr;
    padding-top: 10px;
    gap: 18px;
}


.tablet {
    background-color: #F7F9F9;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(14, 172, 250);
    background-color: #F7F9F9;
    border-radius: 10px;
    border-right: white;
    border-top: white;
    border-bottom: white;
}